body {
    width: 100%;
    margin: 30px;
    background-color: antiquewhite;
 }
  
 #profile-container{
    max-width: 800px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
 }
  
 #bg-img{
    width: 100%;
    height: auto;
 }
  
 #title-img{
    text-align: center;
 }
 
 #footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: burlywood;
    text-align: center;
    color: white;
 }

 #header {
   width: 100%;
   line-height: 50px;
   height: 50px;
   background-color: burlywood;
   text-align: center;
   color: white;
}