body {
    width: 100%;
    margin: 30px;
    background-color: antiquewhite;
 }
  
 #profile-container{
    max-width: 800px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
 }
  
 #bg-img{
    width: 100%;
    height: auto;
 }
  
 #title-img{
    text-align: center;
 }
 