body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
 }
  
 #profile-container{
    max-width: 600px;
    margin: 80px auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
 }
  
 #bg-img{
    width: 100%;
    height: auto;
 }
  
 #title-img{
    text-align: center;
 }
 
 #footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    line-height: 50px;
    background-color: burlywood;
    text-align: center;
    color: white;
 }

 #header {
   width: 100%;
   line-height: 50px;
   height: 50px;
   background-color: burlywood;
   text-align: center;
   color: white;
}